<div class="benefit-card">
  <img src="{{{benefit-icon}}}" alt="{{{benefit.alt}}}">
  <h5>{{benefit.title}}</h5>
  <div class="benefit-info">
    {{#}}
    <ul>
      <li>- {{benefit}}</li>
    </ul>
    {{/}}
    <a href="{{}}">Learn more</a>
  </div>
</div>