<div class="section-content">
{{>./../section-title/section-title titleName = "Every Client Matters" titleDescription = "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics"}}

<div class="benefit-cards">
  {{#benefitCard}}
  {{>./../client-benefit-card/client-benefit-card.handlebars}}
  {{/benefitCard}}
</div>
</div>