@import '../../style-rules';

section {
    background-color: $primary-color;
    @include flex($jc: center);
}

.section-content {
    margin: 80px 20px 50px;
    max-width: 1080px;
    @include flex();
    flex-direction: column;
}

.benefit-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    .benefit-cards {
        justify-content: center;
        .benefit-card {
            margin: 0 15px 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    .section-content {
        margin: 98px 20px 24px;
    }
    .benefit-cards {
        .benefit-card {
            margin: 0 0 30px;
        }
    }
}
