<div class="section-content">
{{>../section-title titleText = "Every Client Matters" titleDesctiption = "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics"}}

<div class="benefit-cards">
  {{#benefitCard}}
  {{>./../client-benefit-card/client-benefit-card.handlebars}}
  {{/benefitCard}}
</div>
</div>