<div class="contact-form">
  <h5>Contact Us</h5>
  <h2>Make an Appointment</h2>
  <form>
  <input required type="text" placeholder="Full name"/>
    <input required type="email" placeholder="example@gmail.com"/>
    <select  required name="department">
    <option value="" disabled selected hidden>Please Select</option>
    <option value="Dep 1">Dep 1</option>
    <option value="Dep 2">Dep 2</option>
  </select>
  <select  required name="time">
    <option value="" disabled selected hidden> 4:00 Available</option>
    <option value="Time 1">Time 1</option>
    <option value="Time 2">Time 2</option>
  </select>
<textarea placeholder="Message"></textarea>
 <button>Book Appointment</button>
  </form>
</div>