.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1022px;
    height: 58px;
    padding: 0 164px;
}

header {
    display: flex;
    justify-content: center;
}
