@import '../../style-rules';

.header-container {
    @include flex($ai: center, $jc: space-between);
    width: 1022px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 58px;
    padding: 0 18px;
    background-color: $primary-color;
    @include flex($ai: center, $jc: center);
}
