@import '../../style-rules';

.modal {
    background-color: #fff;
    width: 328px;
    height: 619px;
    padding: 40px;
    border-radius: 10px;
    transition: 300ms ease-out;
    opacity: 0;

    #close-modal {
        position: absolute;
        top: 24px;
        right: 24px;
        display: none;
    }

    h3 {
        color: $primary-color;
        font-size: 24px;
        @include font($fw: 700);
        margin: 0;
        padding-bottom: 40px;
        text-align: center;
    }

    form {
        @include flex();
        flex-direction: column;
        height: 472px;
        font-size: 14px;
        label {
            color: $primary-color;
            @include font($fw: 600);
            font-size: 14px;
            padding-bottom: 10px;
        }

        .required::after {
            content: '*';
        }

        input {
            background-color: $background-input;
            border: 1px solid $border-input;
            color: $text-color;
            padding: 11px 21px;
            width: 245px;
            height: 50px;
            border-radius: 5px;
            @include font($fw: 500);
        }

        input::placeholder {
            @include font($fw: 500);
        }

        .input-container {
            flex-direction: column;
            display: none;
        }

        select {
            appearance: none;
            background-color: $background-input;
            border: 1px solid $border-input;
            color: $text-color;
            width: 245px;
            height: 50px;
            border-radius: 5px;
            padding: 11px 21px;
            @include font($fw: 500);

            option {
                line-height: 30px;
                color: $text-color;
            }
        }

        select:required:invalid {
            color: $text-color-second;
        }

        button {
            width: 248px;
            height: 58px;
            border-radius: 5px;
            @include button();
            margin-top: 15px;
            display: none;
        }
    }
}

.modal button:hover {
    @include button-hover;
}

.modal-open {
    transition: 300ms ease-out;
    opacity: 1;
    form {
        .input-container {
            display: flex;
        }
        button {
            display: block;
        }
    }
}

@media screen and (max-width: 800px) {
    .modal {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: -10;
        padding: 60px 40px 40px;
        input,
        select,
        button {
            width: 300px;
            transition: 300ms ease-out;
        }
        #close-modal {
            display: block;
        }
    }

    .modal-open {
        z-index: 1000;
        transition: 300ms ease-out;
    }

    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }
}
