@import '../../style-rules';

.modal {
    background-color: #fff;
    width: 328px;
    height: 619px;
    padding: 40px;
    border-radius: 10px;
    transition: 300ms ease-out;
    opacity: 0;

    #close-modal {
        position: absolute;
        top: 24px;
        right: 24px;
        display: none;
    }

    h3 {
        color: $primary-color;
        font-size: 24px;
        @include font($fw: 700);
        margin: 0;
        padding-bottom: 40px;
        text-align: center;
    }

    form {
        @include flex();
        flex-direction: column;
        height: 472px;
    }
    label {
        color: $primary-color;
        @include font($fw: 600);
        font-size: 14px;
        padding-bottom: 10px;
    }
    input {
        background-color: $background-input;
        border: 1px solid $border-input;
        color: $text-color;
        padding: 11px 21px;
        width: 245px;
        height: 50px;
        border-radius: 5px;
        @include font($fw: 500);
    }

    input::placeholder {
        @include font($fw: 500);
    }

    .input-container {
        display: flex;
        flex-direction: column;
    }

    select {
        appearance: none;
        background-color: $background-input;
        border: 1px solid $border-input;
        color: $text-color;
        width: 245px;
        height: 50px;
        border-radius: 5px;
        padding: 11px 21px;
        @include font($fw: 500);
        //  background: url('../../img/arrow-down.png');
        //          background-repeat: no-repeat;

        option {
            line-height: 30px;
            color: $text-color;
        }
    }
    select:required:invalid {
        color: $text-color-input;
    }

    button {
        width: 248px;
        height: 58px;
        border-radius: 5px;
        @include button();
        margin-top: 15px;
    }
}

.modal button:hover {
    @include button-hover;
}

.modal-open {
    transition: 300ms ease-out;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .modal {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: -10;
        padding: 60px 40px 40px;
        input,
        select,
        button {
            width: 300px;
            transition: 300ms ease-out;
        }
        #close-modal {
            display: block;
        }
    }

    .modal-open {
        z-index: 1000;
        transition: 300ms ease-out;
    }
}
