<div class="section-content">
{{>./../section-title/section-title titleName = "Who We Are" titleDescription = "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics "}}

{{>./../video-about-us/video-about-us }}

<div class="dark-bg"></div>