<div class="section-content">
{{>./../section-title/section-title titleName = "What Clients Say" titleDescription = "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics"}}

<div class="review-cards">
  {{#reviewCard}}
  {{>./../review-card/review-card.handlebars}}
  {{/reviewCard}}
</div>
</div>