@import '../../style-rules';

footer {
    @include flex($jc: center);
    flex-direction: column;
}
.footer-top,
.footer-main {
    max-width: 1050px;
    padding: 0 20px;
    width: 100%;
    flex-wrap: wrap;
}

footer h5 {
    margin: 0;
    color: #fff;
    @include font($fw: 700);
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
    letter-spacing: 0.1px;
}
.footer-top {
    @include flex();
    margin: 54px 0;
    .social-media {
        a img {
            width: 24px;
            height: 24px;
        }
        @include flex();
        width: 156px;
    }
    @media screen and (max-width: 650px) {
        flex-direction: column;
        margin: 53px 0 40px;
        align-items: start;
        width: 341px;
        .logo {
            padding-bottom: 63px;
        }
    }
}
hr {
    border: none;
    background-color: #364067;
    height: 1px;
    max-width: 1057px;
    width: 100%;
    margin: 0;
    @media screen and (max-width: 650px) {
        display: none;
    }
}
.footer-main {
    @include flex($ai: flex-start);
    margin: 70px 0 40px;
    .list {
        width: 150px;
        margin-bottom: 30px;
        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            height: 126px;
            @include flex($ai: flex-start);
            flex-direction: column;
            flex-wrap: wrap;
            li a {
                @include font($fw: 600);
                color: #bdbdbd;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                transition: 300ms ease-out;
            }
            li a:hover {
                color: $secondary-color;
            }
        }
    }
    .subscribe {
        form {
            width: 321px;
            @include flex();
            input {
                width: 204px;
                background-color: $background-input;
                border: 1px solid #e6e6e6;
                border-radius: 5px 0 0 5px;
                padding: 15px 0 15px 20px;
                @include font($fw: 500);
                line-height: 28px;
                height: 58px;
                letter-spacing: 0.2px;
            }
            input::placeholder {
                color: #bdbdbd;
                @include font($fw: 400);
                opacity: 1;
            }
            button {
                @include button();
                width: 117px;
                border: 1px solid #e6e6e6;
                border-radius: 0 5px 5px 0;
                height: 58px;
                padding: 0;
                font-weight: 400;
            }
            button:hover {
                @include button-hover();
            }
        }
        p {
            color: #bdbdbd;
            @include font($fw: 400);
            font-size: 12px;
            line-height: 28px;
            letter-spacing: 0.2px;
            margin: 0;
        }
    }
    @media screen and (max-width: 650px) {
        flex-direction: column;
        width: 341px;
        .subscribe {
            margin-bottom: 30px;
        }
    }
}

.footer-bottom {
    background-color: #17213c;
    width: 100%;
    @include flex($jc: center);
    h6 {
        color: #fff;
        @include font($fw: 600);
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        margin: 25px 0;
        max-width: 1050px;
        padding: 0 20px;
        letter-spacing: 0.2px;
        width: 100%;
    }
    @media screen and (max-width: 650px) {
        h6 {
            text-align: center;
            margin: 25px 0 49px;
        }
    }
}

input:focus {
    outline: none;
}
