@import '../../style-rules';

.top-section {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    position: relative;
    left: 0;
    top: 0;

    // @media screen and (min-width: 600px) {
    //     background: url(/src/img/background.webp) no-repeat;
    //     background-size: cover;
    // }

    .image {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 1440px;
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 1440px;
            height: 823px;
        }
    }

    @media screen and (min-width: 1440px) {
        margin: 0 auto;
    }
}

.top-container {
    max-width: 1050px;
    width: 100%;
    display: flex;
    margin: 154px 0 50px 0;
    @include flex();
    padding: 0 20px;
    z-index: 100;
}

.top-section-info {
    @include flex($ai: flex-start);
    flex-direction: column;
    color: #fff;
    width: 36%;

    h1 {
        @include font($fw: 800);
        font-size: 58px;
        margin: 0;
        margin-bottom: 35px;
        line-height: 140%;
        letter-spacing: 0.2px;
    }

    h4 {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.2px;
        margin: 0;
        margin-bottom: 35px;
        font-family: 'Montserrat';
        font-weight: 500;
        width: 376px;
    }

    button {
        @include button();
        width: 216px;
        height: 48px;
        border-radius: 30px;
    }
}

section button:hover {
    @include button-hover;
}

@media screen and (max-width: 600px) {
    // .top-section {
    //     background: url(/src/img/top-section-mobile.webp) no-repeat;
    //     background-size: cover;
    // }
    .top-section {
        .image {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 1440px;
            background-size: cover;
            width: 100%;
            height: 1444px;
            overflow: hidden;
            img {
                width: 1264px;
                height: 1444px;
            }
        }
    }
    .top-container {
        margin: 184px 59px 850px 59px;
        justify-content: center;
    }
    .top-section-info {
        align-items: center;
        width: 276px;
        justify-content: center;
        h1 {
            text-align: center;
            @include font($fw: 700);
            font-size: 40px;
            width: 300px;
            height: 180px;
        }
        h4 {
            text-align: center;
            width: 230px;
        }
    }
}
