@import '../../style-rules';

.top-section {
    background: url(/src/img/background.webp) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    @media screen and (min-width: 1440px) {
        margin: 0 auto;
    }
}

.top-container {
    max-width: 1050px;
    width: 100%;
    display: flex;
    margin: 154px 0 50px 0;
    @include flex();
    padding: 0 20px;
}

.top-section-info {
    @include flex($ai: flex-start);
    flex-direction: column;
    color: #fff;
    width: 36%;

    h1 {
        @include font($fw: 800);
        font-size: 58px;
        margin: 0;
        margin-bottom: 35px;
        line-height: 140%;
        letter-spacing: 0.2px;
    }

    h4 {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.2px;
        margin: 0;
        margin-bottom: 35px;
        font-family: 'Montserrat';
        font-weight: 500;
        width: 376px;
    }

    button {
        @include button();
        width: 216px;
        padding: 10px 36px;
        height: 48px;
        border-radius: 30px;
    }
}

section button:hover {
    @include button-hover;
}

@media screen and (max-width: 600px) {
    .top-container {
        margin: 184px 59px 850px 59px;
        justify-content: center;
    }
    .top-section-info {
        align-items: center;
        width: 276px;
        justify-content: center;

        h1 {
            text-align: center;
            @include font($fw: 700);
            font-size: 40px;
            width: 300px;
            height: 180px;
        }
        h4 {
            text-align: center;
            width: 230px;
        }
    }
}
