<div class="top-container">
<div class="top-section-info">
  <h1>Finance and Consultancy Solution</h1>
  <h4>We know how large objects will act, 
but things on a small scale.</h4>
<button id="book-appoint-top">Book Appointment</button>
</div></div>