@mixin font-roboto {
    font-family: $font;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-weight: 400;
}

@mixin font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    font-weight: 400;
}

@mixin font-face {
    font-family: 'Montserrat Regular';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    font-weight: 500;
}

@mixin font-montserrats {
    font-family: $font;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
    font-weight: 600;
}

@mixin font-montserratb {
    font-family: 'Montserrat Bold';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat Extra-bold';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
    font-weight: 800;
}
