$primary-color: #252b42;
$accent-color: #ff7b47;
$hover-color: #4695ad;
$white: #fff;

@mixin flex($jc: space-between, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin font($ff: Montserrat, $fw: 500) {
    font-family: $ff;
    font-weight: $fw;
}
