$primary-color: #252b42;
$accent-color: #ff7b47;
$secondary-color: #0d5c63;
$white: #fff;
$background-input: #f9f9f9;
$text-color-second: #737373;
$border-input: #bdbdbd;
$text-color: #17213c;

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@mixin flex($jc: space-between, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin font($fw: 500) {
    font-family: 'Montserrat';
    font-weight: $fw;
}

@mixin button() {
    @include font($fw: 700);
    font-size: 14px;
    border: none;
    background-color: $accent-color;
    color: #fff;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 300ms ease-out;
}
@mixin button-hover {
    background-color: #0d5c63;
}
