@import '../../style-rules';

.desktop-menu {
    display: flex;
}

.nav-list {
    @include flex();
    list-style: none;
    padding: 0;
    width: 280px;
}

li a {
    @include font($fw: 600);
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: 300ms ease-out;
    letter-spacing: 0.2px;
}

li a:hover {
    color: $secondary-color;
}

.nav-buttons {
    padding-left: 39px;
    @include flex();
    -webkit-tap-highlight-color: transparent;
    button {
        border: none;
        background: transparent;
        cursor: pointer;
        padding: -1px;
        fill: #fff;
        transition: 300ms ease-out;
        &:hover {
            fill: $secondary-color;
        }
    }
    a {
        fill: #fff;
        transition: 300ms ease-out;
        &:hover {
            fill: $secondary-color;
        }
    }
}

#search-btn-desk {
    padding-right: 18px;
}

.nav-input {
    border: none;
    width: 0;
    transition: 300ms ease-out;
    padding: 0;
    height: 2rem;
}

.nav-input:focus {
    outline: none;
}

.input-open {
    @include font($fw: 500);
    transition: 300ms ease-out;
    width: 200px;
    padding: 0 10px;
    border-radius: 20px;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 800px) {
    .desktop-menu {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: -352px;
        left: 0;
        width: 100vw;
        height: 432px;
        background-color: $primary-color;
        transition: 500ms ease-out;
        z-index: -1;
        .nav-list {
            flex-direction: column;
            margin: 0 auto;
            padding: 60px 0;
            opacity: 0;
            transition: 500ms ease-out;
            z-index: -1;
            li {
                padding: 15px 0;
                a {
                    font-size: 30px;
                    @include font($fw: 500);
                }
            }
        }
    }

    .mobile-menu-open {
        transition: 500ms ease-out;
        top: 80px;
        z-index: -10;
        .nav-list {
            opacity: 1;
            transition: 500ms ease-out;
        }
    }

    .nav-buttons {
        padding-left: 0;
        button,
        a {
            margin-left: 24px;
        }
        button img,
        a img {
            width: 20px;
            height: 20px;
        }
    }
    #search-btn-mob {
        padding-right: 0;
    }

    .color {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        z-index: -1;
        width: 100%;
        height: 100px;
    }
    .input-mob-container {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .nav-input {
        height: 0;
        position: absolute;
        width: 0;
        z-index: -10;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-input::placeholder {
        opacity: 0;
    }

    .input-open {
        height: 40px;
        width: 300px;
        border: 3px solid $primary-color;
        top: 100px;
        z-index: 10;
    }

    .input-open::placeholder {
        opacity: 1;
    }

    .mobile-menu-open .nav-input {
        display: none;
    }

    .input-mob-container {
        display: block;
        width: 100%;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        transition: 300ms ease-out;
        z-index: -1;
    }

    .input-mob-container-open {
        top: 100px;
        transition: 300ms ease-out;
    }
}
