<nav>
    <div class="desktop-menu">
    <ul class='nav-list'>{{#sectionName}}
            <li><a href='{{this.url}}'>{{this.name}}</a></li>
        {{/sectionName}}
    </ul>
    <div class='nav-buttons'>
        <input type="search" class="nav-input" placeholder="Search...">
        <button  id="search-btn-desk">
            <img src="../../img/search-btn.svg" alt="search button" >
        </button>
        <a href="/" aria-label="cart link">
            <img src="../../img/cart-btn.svg" alt="cart button">
        </a>
        
    </div></div>
    
    <div class="mobile-nav">
        <div class="color"></div>
        <div class='nav-buttons'>
        <div class="input-mob-container"></div>
        <input type="search" class="nav-input" placeholder="Search...">
        <button id="search-btn-mob">
            <img src="../../img/search-btn.svg" alt="search button" >
        </button>
        <button>
            <img src="../../img/cart-btn.svg" alt="cart button">
        </button>
        <button id="burger-btn">
            <img src="../../img/menu-icon.svg" alt="menu button">
        </button>
        </div>
        <div class="mobile-menu">
        <ul class='nav-list'>{{#sectionName}}
            <li><a href='{{this.url}}'>{{this.name}}</a></li>
        {{/sectionName}}
        </ul>
    </div>
    </div>
</nav>
