@import '../../style-rules';

nav {
    display: flex;
    .nav-list {
        @include flex();
        list-style: none;
        padding: 0;
        width: 280px;

        li a {
            @include font($fw: 600);
            font-size: 14px;
            color: $white;
            text-decoration: none;
        }
    }
    .nav-buttons {
        padding-left: 39px;
        @include flex();
        button {
            border: none;
            background: transparent;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

.search-button {
    padding-right: 18px;
}

.nav-input {
    border: none;
    border-radius: 20px;
    height: 1.5rem;
    padding: 0 8px;
    @include font($fw: 500);
    display: none;
}

.display {
    display: block;
}
