@import '../../style-rules';

nav {
    display: flex;
    .nav-list {
        @include flex();
        list-style: none;
        padding: 0;
        width: 280px;

        li a {
            @include font($fw: 600);
            font-size: 14px;
            color: $white;
            text-decoration: none;
            transition: 300ms ease-out;
        }
        li a:hover {
            color: $hover-color;
        }
    }

    .nav-buttons {
        padding-left: 39px;
        @include flex();
        button {
            border: none;
            background: transparent;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    .nav-buttons:hover {
        fill: $hover-color;
    }
}

.search-button {
    padding-right: 30px;
}

.nav-input {
    border: none;
    border-radius: 20px;
    height: 1.5rem;
    padding: 0 8px;
    @include font($fw: 500);
    display: none;
    transition: 500ms ease-out;
    opacity: 0;
}

.open {
    transition: 300ms ease-out;
    display: block;
    opacity: 1;
}
