<div class="review-card">
  <div class="rate">
<img src="../../img/active-star.svg" alt="active">
<img src="../../img/active-star.svg" alt="active">
<img src="../../img/active-star.svg" alt="active">
<img src="../../img/active-star.svg" alt="active">
<img src="../../img/unactive-star.svg" alt="unactive">
  </div>
  <p>{{reviewText}}</p>
<div class="reviewed-person">
  <img src="{{reviewer.photo}}" alt="reviewer photo">
  <div class="reviewer-info">
    <a href="/">{{reviewer.name}}</a>
    <h6>{{reviewer.profession}}</h6>
  </div>
</div>
</div>